@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Document */
:root {
    --colorDark: rgb(60, 0, 128);
    --fontGrey: rgb(165, 165, 165);
    --iconColor: rgb(0, 0, 105);
    --darkFont: rgb(70, 70, 70);
    --btnColor: rgb(0, 0, 199);
    --blue: #3659a7;
    --yellowColor: rgb(235, 235, 215);
    --alphabet: rgb(163, 176, 231);
    --loaderColor: rgb(255, 247, 247);
    --red: #e82842;
    --bGradient2: linear-gradient(90deg, rgb(19, 40, 156) 0%, rgb(54, 102, 236)100%);;
    --bGradient: linear-gradient(90deg, #182e65 0%, #0c51c9 100%);
    --paleBlue: #9cb9ec;
    /* --bGradient: linear-gradient(90deg, rgb(0, 15, 85) 0%, rgb(31, 65, 160) 100%);; */
}
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# Rating Page
# Professional Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
body {
	/* background-image: url("images/hhback.jpg"); */
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(13px + 1vw);
    line-height: 1.2;
    margin: 0;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
#logorow img {
    max-width: 50%;
    height: auto;
}
#logorow {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--red);
    color: white;
    height: 100px;
}
#logorow .right  {
    border: none; background: transparent;
    color: white;
    font-family: roboto; font-size: 20px;
    font-weight: 300;
    width: 100px;
    margin-right: 3vw;
    padding-top: 50px;
    z-index: 100;
}
#logorow .right a {
    text-decoration: none;
    color: white;
    z-index: 1000;
    height: 100px;
    width: 100%;
    cursor: pointer;
} 
#logorow .left {
    padding-left: 5vw;
}
.hide {
    display: none;
}
.padthat {
   padding: 0 calc(3vw + 10px);
}
/*--------------------------------------------------------------
# Rating Page
--------------------------------------------------------------*/
#ratingfeeling label {
    display: inline-block;
    text-align: center;
    font-size: calc(9px + 1vw);
    width: 8vw;
}
#ratingfeeling label input{
    display: block;
    margin: auto;
}
body {
    background: var(--bGradient);
}
#ratingfeeling {
    background-size: 90.2% 8px;
    background-repeat: no-repeat;
    background-position: 4vw 2px;
}

#maincontentinner {
    text-align: left;
    width: 85%;
}
#feeling {
    padding-left: calc(4vw - 9px);
    margin: 10vh 0 5vh;
    font-weight: bold;
}
#ratingleft {
    float:left;
}
#ratingright {
    float:right;
}
#ratingwords {
    text-align:center;
    font-size: calc(11px + 1vw);
   padding:0 calc(4vw - 9px);
    font-weight: bold;
    margin-top: 1vh;
}
/*--------------------------------------------------------------
# Professional Page
--------------------------------------------------------------*/
#surroundit {
    display: contents;
}
#blackback {
    position: fixed;
    width:100vw;
    height: 100vh;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}
#nineoneone {
    position: fixed;
    width:80vw;
    max-height: 50vh;
    background-color: #fff;
    top: 25vh;
    left: 9vw;
    z-index: 2;
    overflow: scroll;
    padding: 2vw;
    font-weight: bold;
}
#nineoneone h2 {
    font-size: calc(13px + 1vw);
    color: #E72943;
    margin-bottom: 0;
}
#nineoneone a {   
    color: #E72943;
}
#close {
    position: fixed;
    color: #fff;
    border: 4px solid #fff;
    top: 22vh;
    left: 92vw;
    z-index: 3;
    background-color: #000;
    font-weight: bold;
    border-radius: 50px;
    line-height: 35px;
    padding-bottom: 5px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
#languagepreference, #gender, #dob, #whattreatment, #address, #travelradius {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 3px;
    font-size: calc(11px + 1vw);
    padding: 3vw;
    font-family: roboto;
}
iframe {
    width: 100%;
}
#languagepreference h2, #gender h2, #dob h2, #whattreatment h2, #address h2, #travelradius h2 {   
    font-size: calc(13px + 1vw);
    margin: 0;
    margin-bottom: 10px;
}
#languagepreference input, #gender input, #whattreatment input, #travelradius input {
    height: calc(20px + 0.5vw);
    width: calc(20px + 0.5vw);
    position: relative;
    top: 2px;
}
.genderwidth {
   height: auto !important;
    width: 95% !important;
    position: static !important;
    margin-top: 10px;
    padding: 5px;
}
#dob input, #address {
    width: 95%;
    margin-top: 5px;
}
#gender, #dob, #whattreatment, #address, #travelradius {
    margin-top: calc(20px + 1vw);
}
#morelang {
    border:1px solid #030303;
    padding: 5px;
    margin: calc(5px + 1vw) 5px 5px;
}
#morelang.opened::after {
     content: "-";
    padding-right: 5px;
    float: right;
}
#morelang:hover {
    background-color: #eee;
}
#morelang::after {
     content: "+";
    padding-right: 5px;
    float: right;
}
.onepad {
    padding: 20px 0.5vw;
    color: white;
    font-family: roboto;
    font-weight: 300;
}
.onepad h2 {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 22px;
}
.onepad h3 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
}
.mediumfont {
    font-size: calc(11px + 1vw);
}
@media only screen and (max-width: 767px) {
    #close {
        top: 20vh;
        left: 85vw;
    }
}

.btnFlex {
    width: 100vw;
    position: relative;
    display: flex;
    height: 200px;
    margin-left: -10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
:root {
    --btnColor: rgb(116, 0, 211);
}
.alertMsg {
    color: red;
    font-family: roboto;
    margin-bottom: 25px;
    width: 100%; text-align: center;
    margin-top: 30px;
    z-index: 90000;
    position: relative;
}
.btnFlex button {
    width: 250px;
    height: 60px;
    border: none;
    background: var(--blue);
    color: white; 
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    border-radius: 3px;
}
.flexCol {
    flex-direction: column;
    display: flex;
}
.flexCol input {
    padding: 1vw;
    font-family: roboto;
    outline: none;
}
#dob input {
    padding: 1vw;
    font-family: roboto;
    outline: none;
}
#address input {
    padding: 1vw;
    font-family: roboto;
    outline: none;
    margin-top: 10px;
    height: 100px;
    box-shadow: none;
    border: 1px solid #6e6e6e;
}
#maincontent {
    text-align: center;
    position: absolute;
    display: flex; justify-content: center;
    width: 100%;
    height: 3200px;
}

.mapContainer {
    width: 86%; height: 90vh;
    margin-left: 0%;
    bottom: 2.5vh;
    position: fixed;
    z-index: -1;
    margin-left: -10px;
}
#map {
    width: 100%; height: 100%;
    z-index: -1;
}
.btnFlex {
    z-index: 9000;
    height: 95px;
}
#languagepreference {
    position: relative;
    z-index: 1000;
}
#gender {
    position: relative;
    z-index: 1000;
}
#dob {
    position: relative;
    z-index: 1000;
}
#address {
    position: relative;
    z-index: 1000;
    width: 93.5%;
}
#travelradius {
    position: relative;
    z-index: 1000;
}
#whattreatment {
    position: relative;
    z-index: 1000;
}
@media (max-width: 1000px) {
    #maincontent {
        height: 2800px;
    }
}
.loader {
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    background: rgba(7, 77, 208, 0.4);
    z-index: 10000; display: flex; justify-content: center;
    align-items: center;
}

.pulse {
  width: 100px;
  height: 100px;
  background-color: var(--loaderColor);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 48px;
  position: relative;
}

.pulse:before, .pulse:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border: 1px solid var(--loaderColor);
  border-radius: 50%;
  animation: pulse 1.5s linear infinite;
}

.pulse:after {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% { transform: scale(0.5); opacity: 0 }
  50% { transform: scale(1); opacity: 1 }
  100% { transform: scale(1.2); opacity: 0 }
}

#infocontent {
    width: 350px;
    padding: 0px 20px;
    bottom: 0;
}
#infocontent h1 {
    margin-bottom: 0;
    color: black; 
    font-size: 22px;
    font-family: roboto, poppins;
}
#infocontent h2 {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 200;
    font-size: 16px;
    color: grey; 
    font-family: poppins;
}
#infocontent div {
    margin-top: 5px;
}
#infocontent div h3 {
    margin-top: 5px; margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    color: grey;
    font-family: roboto;
}
#infocontent h4 {
    color: rgb(51, 51, 253);
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    margin-top: 7px;
}
