@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --colorDark: rgb(60, 0, 128);
    --fontGrey: #a7a5a6;
    --iconColor: rgb(0, 0, 105);
    --darkFont: rgb(70, 70, 70);
    --btnColor: rgb(0, 0, 199);
    --yellowColor: #efeedf;
    --alphabet: rgb(163, 176, 231);
    --red: #e82842;
    --list: #074dd088;
    --blue: #3659a7;
    --bGradient2: linear-gradient(90deg, rgb(19, 40, 156) 0%, rgb(54, 102, 236)100%);
    --bGradient: linear-gradient(90deg, #182e65 0%, #0c51c9 100%);
    --paleBlue: #9cb9ec;
}

.navbar {
    width: 100%;
    height: 100px;
    background:var(--red);
    display: flex;
    justify-content: space-between;
}
.navbar .left {
    width: calc(50% + 20px); height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .left h2 {
    color: white;
    font-weight: 700;
    padding-left: 20px;
}
.navbar .right {
    width: 40%;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
    border: none;
    background: transparent;
}
.navbar .right h3 {
    color: white; font-size: 15px;
    font-family: roboto;
    font-weight: 600;
    height: 20px;
    margin-top: 0px;
    text-align: center;
    width: auto;
    opacity: 0.6;
}
.navbar .right a {
    text-decoration: none;
    color: white;
}
.navbar .right img {
    width: 60px; height: 60px;
    margin-bottom: 0;
    margin-top: 10px;
    opacity: 0.6;
}
.topSection {
    height: 250px;
    background: var(--bGradient);
    width: 100%;
    display: flex; justify-content: center;
    align-items: center; flex-direction: column;
}
.topSection .padding {
    width: 80%;
}
.topSection input {
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border: none;
    margin-top: 0px;
    outline: none;
    padding-left: 25px;
    font-family: poppins;
}
.topSection input::placeholder {
    font-family: roboto;
    font-size: 20px;
    font-weight: 200;
}
.topSection button {
    background: transparent;
    border: none; 
    font-family: poppins;
    font-size: 20px;
    float: right;
    user-select: none;
    color: white;
    width: 175px;
    height: 50px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}
.topSection button div {
    font-weight: 600;
    font-size: 40px;
    margin-top: -16px;
}
.alphabet {
    background: var(--paleBlue);
    width: 100%; height: 40px;
    color: white; 
    display: flex;
    justify-content: center;
}
.aInner {
    width: 80%;
    display: flex;
    justify-content: center;
}
.alphabet button {
    background: transparent; color: white;
    border: none; font-family: roboto;
    font-size: calc(16px + 1vw); font-weight: 500;
    width: calc(80vw/27);
    text-align: center;
}
.listHeader {
    width: 100%;
    height: 75px;
    background: var(--bGradient);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.listHeader .gen {
    color: white;
    font-family: roboto;
    font-weight: 200;
    font-size: 22px;
    margin-right: 11%;
}
.listHeader .genTwo {
    color: white;
    font-family: roboto;
    font-weight: 200;
    font-size: 22px;
    margin-right: calc(5vw + 50px);
}
.list {
    width: 100%;
    display: flex; flex-direction: column;
}
.list .item {
    width: 100%; height: 125px;
    display: flex;
    font-family: roboto;
}
.list .item:nth-child(odd) {
    background: var(--list);
}
.list .item div:nth-child(1) {
    width: 10%;  
    flex-shrink: 0;
    display: flex; justify-content: center; align-items: center;
}
.fa-pencil-alt {
    font-size: 25px;
    color: var(--iconColor);
    pointer-events: none;
}
.fa-plus-circle {
    color: var(--iconColor);
}
.list .item div:nth-child(1) button {
    width: 60px; height: 60px;
    border-radius: 50%;
    margin-top: -6px;
    border: none; background: white;
    flex-shrink: 0;
}
.list .item div:nth-child(2) {
    width: 70%; 
}
.list .item div:nth-child(2) h1 {
    color: rgba(245, 245, 245, 0.7);
    font-weight: 500;
    font-family: roboto;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 34px;
    margin-left: 25px;
}
.list .item div:nth-child(2) h1 span {
    color: white;
}
.list .item div:nth-child(2) h2 {
    color: rgba(245, 245, 245, 0.7);
    font-family: roboto;
    font-size: 20px;
    margin-top: 6px;
    font-weight: 200;
    font-family: roboto;
    margin-left: 25px;
}
.list .item div:nth-child(3) {
    width: 10%; 
    display: flex; justify-content: center; align-items: center;
}
.list .item div:nth-child(3) h3 {
    font-size: 40px;
    font-family: roboto;
    margin-top: 30px;
    font-weight: 300;
}
.list .item div:nth-child(4) {
    width: 10%; 
    display: flex; justify-content: center; align-items: center;
}
.list .item div:nth-child(4) button {
    width: 60px; height: 60px;
    border-radius: 50%;
    margin-top: -8px;
    border: none; background: white;
    flex-shrink: 0;
}

.fa-trash-alt {
    font-size: 25px;
    color: var(--iconColor);
    pointer-events: none;
}
.editSection {
    width: 80%; height: 80%; background: white;
    position: fixed;
    top: 10%; left: 10%;
    display: flex; flex-direction: column; gap: 10px;
    overflow-y: scroll;
    z-index: 9000;
}
.editSection .row {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.editSection .row:nth-child(6) {
    height: 200px;
}
.editSection .row textarea {
    height: 170px;
    width: 70%;
    margin-top: 10px;
    border-radius: 2px;
    outline: none;
    border: 1px solid rgb(175, 175, 175);
    margin-right: 50px;
    padding-left: 10px;
    color: var(--darkFont);
    font-family: roboto;
}
.editSection .topRow {
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.editSection .row label {
    max-width: 80px;
    font-family: roboto;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
    color: var(--fontGrey);
    flex-shrink: 0;
    padding-top: 10px;
    flex-shrink: 0;
    user-select: none;
    font-size: 18px;
}

.editSection .row input {
    width: 70%;
    margin-top: 10px;
    height: 40px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #bbbdbf;
    margin-right: 50px;
    font-family: roboto;
    color: var(--darkFont);
    padding-left: 7px;
}
.row .submit {
    width: 90%;
    margin-left: 5%;
    height: 60px;
    background: var(--btnColor);
    color: white; font-family: roboto; font-weight: 500;
    border:none; border-radius: 3px; font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#s_1_s button {
    width: 70%;
    border: 1px solid rgb(175, 175, 175);
    height: 40px;
    background: transparent;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--darkFont);
    font-family: roboto; font-weight: 300;
    padding-top: 8px;
    padding-left: 15px;
}
#s_1_s button div {
    font-size: 30px;
    pointer-events: none;
    margin-top: -7.5px;
    margin-right: 2px;
}
.editSection .myrow {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

.openFlex {
    display: flex; flex-direction: column;
    width: 65%; 
    margin-right: 50px;
    position: relative;
    margin-bottom: 60px;
    padding-left: 5%;
    background: var(--yellowColor);
}
.openFlex label {
    display: flex;
    font-size: 18px;
    width: auto;
    margin-bottom: 10px;
}
.openFlex label:nth-child(1) {
    padding-top: 30px;
}
.openFlex label input {
    width: 20px; height: 20px;
    margin-top: 0px;
    margin-right: 10px;
}
.openFlex input {
    width: auto;
    max-width: 70%;
    border: 1px solid var(--fontGrey);
    padding: 10px;
    font-family: roboto;
}
.justAddedAlert {
    text-align: center;
}
.age3 div {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}
.age3 {
    width: 70%;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
#age3 {
    height: 100px;
    margin-bottom: 25px;
}
.age3 div:nth-child(1) {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.age3 div:nth-child(2) {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.age3 div:nth-child(3) {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.age3 div:nth-child(1) input[type="checkbox"] {
    cursor: pointer;
}

.age3 div:nth-child(1) input {
    width: 50%; margin: 0; height: 30px; margin-top: 5px;
}
.age3 div:nth-child(2) input {
    width: 70%; margin: 0; height: 30px; margin-top: 5px;
}
.age3 div:nth-child(3) input {
    width: 70%; margin: 0; height: 30px; margin-top: 5px;
}
.age3 div:nth-child(1) label {
    font-size: 16px;
}
.age3 div:nth-child(2) label {
    font-size: 16px;
}
.age3 div:nth-child(3) label {
    font-size: 16px;
}
.closeBtnEdit {
    width: 50px; height: 50px; background: black;
    font-weight: 300;
    color: white; font-family: roboto, sans-serif; font-size: 30px;
    border-radius: 50%; border: 3px solid white;
    display: flex; justify-content: center; align-items: center;
    position: fixed;
    right: 8.5vw;
    top: 8vh;
    z-index: 90000;
}
@media (max-width: 1000px) {
    .age3 {
        width: 60%;
    }
}
@media (max-width: 800px) {
    .editSection .row input {
        width: 60%;
    }
    #s_1_s button {
        width: 60%;
    }
    #age3 {
        height: 275px;
    }
    .age3 {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }
    .age3 div label {
        margin-left: -6px;
    }
}
@media (max-width: 700px) {
    .list .item div:nth-child(1) {
        width: 15%;
    }
    .list .item div:nth-child(2) {
        width: 55%;
    }
    .list .item div:nth-child(3) {
        width: 15%;
    }
}
@media (max-width: 600px) {
    .editSection .row {
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 90px;
    }
    .editSection .row label {
        width: 100%; margin: 0;
        text-align: center;
    }
    .editSection .row input {
        width: 80%; margin: 0;
    }
    .editSection .row textarea {
        width: 80%; margin: 0;
    }
    .age3 {
        margin: 0;
        height: 325px;
        justify-content: flex-start;
        padding-top: 10px;
        padding-left: 10px;
    }
    #age3 {
        height: 300px;
    }
    #age3 div {
        margin: 0;
    }
    .age3 div label {
        margin-left: 0;
    }
    .age3 div:nth-child(1) label {
        padding-left: 0; padding-right: 0;
    }
    .age3 div:nth-child(1) input {
        margin-left: 0;
        width: 50%;
    }
    .age3 div:nth-child(1) {
        margin-left: 0;
        width: 50%;
    }
    .age3 div:nth-child(2) label {
        padding-left: 0; padding-right: 0;
    }
    .age3 div:nth-child(2) input {
        margin-left: 0;
        width: 60%;
    }
    .age3 div:nth-child(2) {
        margin-left: 0;
        width: 60%;
    }
    .age3 div:nth-child(3) label {
        padding-left: 0; padding-right: 0;
    }
    .age3 div:nth-child(3) input {
        margin-left: 0;
        width: 60%;
    }
    .age3 div:nth-child(3) {
        margin-left: 0;
        width: 60%;
    }
    #s_1_s button {
        width: 80%;
        margin-right: 0;
    }
    .fa-plus-circle {
        margin-left: 20px;
    }   
    .editSection .row:nth-child(6) {
        height: 95px;
    }
    .row .submit {
        width: 80%;
        margin-left: 0px;
        height: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
.deleteMsg {
    width: 400px; height: 350px;
    background: white;
    position: absolute;
    margin-top: -300px;
    margin-left: calc(50vw - 200px);
    padding: 0px 20px;
    display: flex; flex-direction: column;
    align-items: center;
}
.deleteMsg img {
    width: 70px; height: 70px;
    margin-top: 35px;
}
.deleteMsg h2 {
    font-family: roboto;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
}
.deleteMsg h3 {
    font-family: roboto;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: -5px;
}
.btFlex {
    display: flex; justify-content: space-around;
    width: 100%;
}
.btFlex button {
    width: 150px; height: 45px;
    background: var(--red);
    border: none;
    color: white;
    font-weight: 500;
    font-family: roboto;
    font-size: 17px;
}
.btFlex button:nth-child(1) {
    background: var(--btnColor);
}