:root {
    --colorDark: rgb(60, 0, 128);
    --fontGrey: rgb(165, 165, 165);
    --iconColor: rgb(0, 0, 105);
    --darkFont: rgb(70, 70, 70);
    --btnColor: rgb(0, 0, 199);
    --yellowColor: rgb(235, 235, 215);
    --alphabet: rgb(163, 176, 231);
    --red: rgb(255, 54, 54);
    --bGradient2: linear-gradient(90deg, rgb(19, 40, 156) 0%, rgb(54, 102, 236)100%);;
    --bGradient: linear-gradient(90deg, rgb(0, 15, 85) 0%, rgb(31, 65, 160) 100%);;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: var(--bGradient);
}
.myProfile {
    background: var(--bGradient);
    width: 100%; height: auto;
    display: flex; justify-content: center; align-items: center; 
    flex-direction: column;
}
.myProfile .inner {
    width: 400px;
    height: auto;
    display: flex; flex-direction: column;
    gap: 10px;
    margin-top: 120px;
}
.myProfile .inner .row {
    display: flex; justify-content: space-between;
    width: 100%; height: 35px;
}
.myProfile .inner .rowSelect {
    display: flex; justify-content: space-between;
    width: 100%; height: auto;
}
.myProfile .inner .rowSelect label {
    /* width: 100px; */
    color: white; font-family: roboto;
    font-weight: 500; font-size: 17px;
}
.myProfile .inner .row label {
    width: 100px;
    color: white; font-family: roboto;
    font-weight: 500; font-size: 17px;
}
.myProfile .inner .row input {
    width: 250px;
    height: 90%;
    border: none;
    border-radius: 2px;
    outline: none;
}
.profileSave {
    width: 160px; height: 40px;
    background: rgb(32, 32, 255);
    border: none;
    color: white; font-family: roboto;
    font-weight: 500; font-size: 20px;
    margin-top: 35px;
    position: relative;
    margin-bottom: 60px;
}
.topSectionP {
    width: 100%; height: 100px;
    background: rgb(32, 32, 255);
    top: 0; position: absolute;
    display: flex; justify-content: space-between;
}
.topSectionP .left {
    width: 50%;
}
.topSectionP .left h2 {
    color: white;
    font-family: roboto;
    font-weight: 500;
    padding-left: 10vw;
    margin-top: 25px;
}
.right {
    width: 50%;
    display: flex; flex-direction: column;
    align-items: flex-end;
    padding-right: 25px;
}
.topSectionP .right h3 {
    color: white; font-size: 15px;
    font-family: roboto;
    font-weight: 200;
    height: 20px;
    margin-top: 0px;
    text-align: center;
    width: 50px;
}
.topSectionP .right img {
    width: 45px; height: 45px;
    margin-bottom: 0;
    margin-top: 10px;
}
.profileAlert {
    color: white; font-family: roboto;
    font-weight: 300;
    position: relative;
}
.closeProfile {

    background: black; width: 40px; 
    height: 40px; border-radius: 50%;
    display: flex; justify-content: center;
    align-items: center; color: white;
    border: 3px solid white; position: absolute; top:125px;
    right: 4vw; font-size: 22px; font-weight: 300;
    font-family: roboto;
}
.genderRow {
    display: flex; flex-direction: column;
    height: auto; padding: 0px 0px;
    margin-bottom: 30px;
}
.genderRow label {
    width: 250px;
    font-weight: 200;
}
.innerB {
    width: 250px;
}
.innerB button {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 300;
    font-family: roboto;
    padding: 7px;
}
.innerB button div {
    margin-top: 0px;
}